@page "/productDescription"
@rendermode InteractiveServer
<PageTitle>Описание товара</PageTitle>
 
<img src="images/@Item.itemDescr.imgPath" width="300" height="300" alt="" />
<h6>Наименование: @Item.itemDescr.Name</h6>
<h6>Цена: @Item.itemDescr.Price рублей </h6>
<h6>Описание: @Item.itemDescr.Description</h6>
<h6>ID: @Item.itemDescr.Id</h6>


@code {

}
