@page "/productDescription"
@rendermode InteractiveServer
 
<img src="images/700.jpg" width="300" height="300" alt="" />
<h6>Наименование: Игрушка1</h6>
<h6>Цена: 500 рублей </h6>
<h6>Описание: Новогодняя поделка</h6>



@code {

}
